.site-footer {
	border-top: 6px solid #000;
	clear: left;
	font-family: $meta-font-family-stack;
}

/* Large Screen Styles */
@media screen and (min-width: 881px) {
	.site-footer .site-info {
		padding: 80px 0;
	}
}