header {
    font-family: $meta-font-family-stack;
}

#top-bar {
    font-size: .8em;
    padding: 1em;
    background: #dddddd;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .top-search-wrap {
        float: left;
        
        .search-form {
            margin: 0;
            display: inline-block;
        }
    }
    .user-account {
        display: inline-block;
        
        a.button,
        button {
            padding: .5em .8em;
            
            & + a.button, button {
                margin-left: .5em;
            }
        }
    }
}

.site-heading {
	border-bottom: 6px solid #000;
	margin: 0;
	padding: 30px 0;
}

.site-branding {
	text-align: center;
	
	img {
	    max-height: 60px;
	}
}

.site-logo,
.custom-logo {
	display: block;
	margin: 0 auto;
}

.site-header-image {
	display: block;
}

.site-description {
	color: #000;
	font-family: $head-font-family-stack;
	font-weight: 400;
	font-size: 1.2em;
	font-style: italic;
	position: relative;
	text-align: center;
	width: 100%;
	margin: 0.4em 0 0 0;
}

.site-description:empty {
	display: none;
}

@media screen and (min-width: 881px) {
	.site-heading {
		align-items: center;
		display: block;
		padding-top: 40px;
	}

	.site-branding {
		width: 100%;
	}

	.site-branding .site-title {
		display: inline-block;
	}

	.site-logo,
	.custom-logo {
		display: block;
		margin: 0;
	}

	.site-logo-link,
	.custom-logo-link {
		display: inline-block;
		vertical-align: middle;
	}
}