#page {
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

.content-area {
	width: 100%;
}

.site-main {
	padding: 0;
	position: relative;
}

.col-width {
	margin: 0 auto;
	max-width: 1140px;
	position: relative;
	width: 90%;
}

.full-width .content-area {
	margin: 0;
}

.full-width .site-main {
	margin: 0;
}

@media screen and (max-width: 881px) {
	#page .content-area {
		float: none;
	}

	#page .site-main {
		margin: 0;
		padding: 0;
	}
}

@media screen and (max-width: 510px) {
	.single #page .content-area {
		border-top: 1px solid #f2f2f2;
		margin-top: 0;
	}
}