.paying-wages {
    font-family: $meta-font-family-stack;
    overflow: hidden;
    text-align: center;
    background: $ad-background;
    border-top: solid 1px $ad-border-color;
    border-bottom: solid 1px $ad-border-color;
    padding-bottom: 1.2em;
    
    .wages-adlabel {
        color: $ad-label;
        font-size: .8rem;
        margin: .4em;
    }
    a {
        display: block;
        max-width: 728px;
    }
    img {
        vertical-align: middle;
        margin: 0;
        max-width: 100%;
        max-height: 250px;
        height: auto;
        width: auto;
    }
    &.before-content {
        margin-bottom: 3em;
    }
}