.paying-wages {
    overflow: hidden;
    text-align: center;
    background: $ad-background;
    border-top: solid 1px $ad-border-color;
    border-bottom: solid 1px $ad-border-color;
    padding-bottom: 1.2em;
    
    .wages-adlabel {
        color: $ad-label;
        font-size: .8rem;
        margin: .4em;
    }
    img {
        vertical-align: middle;
        margin: 0;
    }
    &.before-content {
        margin-bottom: 3em;
    }
}