html {
	height: 100%;
	font-size: 20px;
}

body {
	background: $pure-white;
	color: $pure-black;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-family: $body-font-family-stack;
	line-height: 1.5;
	min-height: 100%;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $head-font-family-stack;
	font-weight: 600;
	margin-bottom: .5em;
	line-height: 1.1;
}

h1 {
	font-size: 2.1em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

h4, h5, h6 {
	font-size: 1.1em;
}

a {
	color: $ti-accent-color;
	text-decoration: none;
	word-wrap: break-word;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

a:visited {
	color: $visited-gray;
}

a:hover, a:focus, a:active {
	text-decoration: underline;
}