$head-font-family-stack: chaparral-pro-display, "Palatino Linotype", "Book Antiqua", Palatino, serif;
$body-font-family-stack: warnock-pro, georgia, serif;
$sect-font-family-stack: warnock-pro-display, georgia, serif;
$meta-font-family-stack: myriad-pro, “Helvetica Neue”, Helvetica, sans-serif;

$pure-white: #FFFFFF;
$pure-black: #000000;
$pure-red: #FF0000;
$pure-green: #00FF00;
$pure-blue: #0000FF;

$breaking-red: #AA0000;
$visited-gray: #555555;
$unaccent-gray: #777777;

$ti-accent-color: #CC6633;

$ad-background: #EEEEEE;
$ad-label: #AAAAAA;
$ad-border-color: #555555;