$body-font-stack: "Rubik", "Helvetica Neue", sans-serif;
$header-font-stack: "Libre Baskerville", Georgia, serif;

$pure-white: #FFFFFF;
$pure-black: #000000;
$pure-red: #FF0000;
$pure-green: #00FF00;
$pure-blue: #0000FF;

$breaking-red: #AA0000;

$ti-color-accent: #CC6633;

$ad-background: #EEEEEE;
$ad-label: #AAAAAA;
$ad-border-color: #555555;