.wp-block-image figcaption {
    font-family: $meta-font-family-stack;
    text-align: left;
    font-size: .8em;
    
    em:nth-last-child(2),
    em:nth-last-child(1)
    {
        float: right;
        text-align: right;
        margin-bottom: 1rem;
        
        .entry-header & {
            margin-bottom: .2rem;
        }
    }
    
    br:nth-last-child(1) {
        display: none;
    }
    
    br + em:nth-last-child(2),
    br + em:nth-last-child(1)
    {
        width: 100%;
    }
    
    &:after {
        content: "";
        clear: both;
        display: block;
    }
}