.wp-block-image figcaption {
    font-family: $meta-font-family-stack;
    text-align: left;
    font-size: .8em;
    
    em:nth-last-child(2),
    em:nth-last-child(1)
    {
        float: right;
    }
}