ul.wp-block-gallery {
    margin: 1em 0;
    
    li {
        cursor: pointer;
    }
}

.gallery {
	margin: 0 -2% 1.5em;
}

.gallery-item {
	display: inline-block;
	margin: 0 0 1.5em;
	padding: 0 1%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-item a {
	display: block;
	line-height: 0;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	color: #999;
	display: block;
	font-size: 14px;
	line-height: 1.525em;
	margin: 5px 0;
	padding: 0 15px;
}
