.colophon-menu-wrap {
    margin-top: 2em;
    font-size: .7em;
    
    ul.colophon-menu {
        text-align: center;
        li {
            display: inline-block;
            margin: 1em;
        }
    }
}