.main-navigation {
	clear: both;
	display: table;
	float: none;
	font-size: 1rem;
	position: relative;
	width: 100%;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.main-navigation .sub-menu,
.main-navigation .children {
	padding-left: 1.5em;
	border-top: 1px solid #CCC;
	margin-bottom: -1px;
}

.main-navigation .sub-menu li:before,
.main-navigation .children li:before {
	content: "\2014\00a0";
	display: inline-block;
	line-height: 1.5em;
	padding-left: 8px;
	padding-top: 12px;
	position: absolute;
	z-index: 0;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.main-navigation .sub-menu li:hover:before,
.main-navigation .children li:hover:before {
	color: $ti-accent-color;
}

.main-navigation div > ul:first-child {
	border-top: 3px solid #000;
	width: 100%;
}

.main-navigation div > ul:last-child {
	border-bottom: 3px solid #000;
}

.main-navigation ul > li a {
	display: block;
	padding: 12px 20px;
	text-decoration: none;
}

.main-navigation ul > li li a {
	padding-left: 26px;
}

.dropdown-toggle {
	display: none;
}