.card {
	background: transparent;
	display: inline-block;
	margin: 0 -2px;
	padding-bottom: 30px;
	width: 100%;
	word-wrap: break-word;
	vertical-align: top;
	
	h1 {
	    font-size: 1.8em;
	}
	h2 {
	    font-size: 1.5em;
	}
	a.card-link {
	    display: block;
	    color: black;
	    
	    &:visited {
            color: $visited-gray;
	    }
	    &:hover {
	        color: $ti-accent-color;
	        text-decoration: none;
	    }
	}
	.entry-image-section {
        border-top: 3px solid black;
        padding-top: 30px;
    }
    .entry-image {
        padding: 0;
    }
    .entry-header {
        border-top: 3px solid black;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .entry-title {
        margin-bottom: 0;
    }
    &.has-post-thumbnail .entry-header {
        border-top: none;
        padding-top: 0;
    }
}

@media screen and (max-width: 639px) {
	.card[style] {
		padding-bottom: 20px;
		width: 100% !important;
		
		&:hover {
            background: inherit !important;
            color: inherit !important;
        }
        .entry-image img {
            opacity: 1;
            -webkit-transition: opacity 0.2s ease;
            -moz-transition: opacity 0.2s ease;
            transition: opacity 0.2s ease;
        }
    }
}

@media screen and (min-width: 640px) {
	.card, .grid-sizer {
		width: 49%;
	}

	.card {
		padding: 30px;
		.entry-image-section {
            border-top: none;
            padding-top: 0;
        }
    }

	.card:last-of-type {
		border-bottom: none;
	}
}

@media screen and (min-width: 960px) {
	.card, .grid-sizer {
		width: 33%;
	}
}