#post-list {
	margin: 0;
	padding-bottom: 120px;
	width: 100%;
}

@media screen and (max-width: 360px) {
	#post-list[style] {
		width: 100% !important;
	}
}

@media screen and (min-width: 640px) {
	#post-list,
	#post-list[style] {
		margin: -30px -30px 0;
		padding-bottom: 120px;
		width: calc(100% + 60px) !important;
	}
}