.single {
    #page .site-main {
        border-top: 3px solid #000;
        padding: 20px 0 0;
    }
    .hentry {
        .entry-header {
            margin: 0 0 20px;
        }
        .entry-title {
            line-height: 1.25;
            margin-bottom: 10px;
        }
    }
    .post-hero-image {
        margin-bottom: 20px;
    }
    .wp-block-image {
        text-align: center;
        
        @at-root .single div.wp-block-image {
            margin-bottom: -1em;
        }
    }
    .entry-footer .entry-meta {
        margin-bottom: 20px;
    }
}

.single-post #page .site-main {
	margin-top: -3px;
}

#page .sd-button {
    padding-right: 5px;

    .share-count {
        padding: 4px;
        line-height: 1;
        margin-left: 4px;
        border-radius: 7px;
    }
}

#page #jp-relatedposts {
    font-size: .8em;
    
    .jp-relatedposts-post-img {
        margin-bottom: .3em
    }    
    .jp-relatedposts-post-title {
        font-size: 1.2em;
        line-height: 1.1;
        margin-bottom: .2em;
    }
    .jp-relatedposts-post-excerpt {
        font-size: 1em;
    }
}

/* Large Screens */
@media screen and (min-width: 881px) {

	.single {
	    #page .site-main {
            padding: 50px 0 0;
        }
        .post-hero-image {
            margin-bottom: 50px;
        }
        .hentry {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            
            .entry-header {
                margin: 0 0 1.5em;
                width: 100%;
                position: relative;
            }
            .entry-title {
                margin-bottom: 10px;
            }
            .entry-content {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
                max-width: 600px;
            }
            .entry-footer {
                margin-bottom: 50px;
                    .entry-meta {
                    margin-bottom: 30px;
                }
            }
        }
    }
}