.single {
    #page .site-main {
        border-top: 3px solid #000;
        padding: 20px 0 0;
    }
    .hentry {
        .entry-header {
            margin: 0 0 20px;
        }
        .entry-title {
            line-height: 1.25;
            margin-bottom: 10px;
        }
    }
    .post-hero-image {
        margin-bottom: 20px;
    }
    .wp-block-image {
        text-align: center;
    }
    .entry-footer .entry-meta {
        margin-bottom: 20px;
    }
}

.single-post #page .site-main {
	margin-top: -3px;
}

/* Large Screens */
@media screen and (min-width: 881px) {

	.single {
	    #page .site-main {
            padding: 50px 0 0;
        }
        .post-hero-image {
            margin-bottom: 50px;
        }
        .hentry {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            
            .entry-header {
                margin: 0 0 50px;
                width: 100%;
                position: relative;
            }
            .entry-title {
                margin-bottom: 10px;
            }
            .entry-content {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
                max-width: 600px;
            }
            .entry-footer {
                margin-bottom: 50px;
                    .entry-meta {
                    margin-bottom: 30px;
                }
            }
        }
    }
}