$white-step:
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%;

$rip-shadow:
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.5) 13%,
    rgba(0, 0, 0, 0.17) 41%,
    rgba(0, 0, 0, .06) 50%,
    rgba(0, 0, 0, .01) 80%,
    rgba(0, 0, 0, 0) 100%;


#paywall {
    text-align: left;
    background-image:
        linear-gradient(
            135deg,
            $white-step
        ),
        linear-gradient(
            -135deg,
            $white-step
        ),
        linear-gradient(
            to bottom,
            $rip-shadow
        );
    background-position:
        top center,
        top center,
        top center;
    background-size:
        .5em .5em,
        .5em .5em,
        100% 2em;
    background-repeat: repeat-x;
    
    * {
        font-family: myriad-pro, “Helvetica Neue”, Helvetica, sans-serif;
    }
    
    #footer-background {
        z-index: -2;
        position: fixed;
        height: 50vh;
        background-color: #ddd;
        bottom: 0;
        width: 100vw;
    }
}
