button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.button,
a.button:visited {
    display: inline-block;
	background: #FFF;
	border: 2px solid #000;
	border-radius: 0;
	color: $ti-accent-color;
	font-family: $meta-font-family-stack;
	font-weight: 600;
	line-height: 1;
	padding: 15px 20px;
	-webkit-appearance: none;
	
	&:hover {
        background: #000;
        color: #FFF;
        text-decoration: none;
	}
	
	&:active, &:focus {
        background: #000;
        color: #FFF;
        outline: 0;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	border: 2px solid #000;
	border-radius: 0;
	color: $ti-accent-color;
	padding: 12px 15px;
	-webkit-appearance: none;
	
	&:focus {
        color: #000;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 11px 15px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}